<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiradentes Holliday</title>
    <style>
        h1, h2 {
            text-align: center;
        }
    </style>
</head>
    <body>
        {% if tiradentes %}
            <h1>It's Tiradentes Holliday</h1>
        {% else %}
            {% if lasting > 0%}
                <h1>I'ts not Tiradentes Holliday!</h1>
                <h2>{{lasting}} days left for Tiradentes Holliday!</h2>
            {% else %}
                <h1>Tiradentes Holliday already passed!</h1>
            {% endif %}
        {% endif %}
    </body>
</html>